/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Body Style */
body {
  /* background-color: #0f0f0f; */
  background:
    linear-gradient(rgba(63, 63, 63, 0.233), rgba(0, 0, 0, 0.6)),
    url(../assets/Images/woman_Home_Section.jpg);
}

/* Header Section    */
header {
  background-color: #000000e8;
  position: fixed;
  top: -15px;
  width: 100%;
}

/* navbar */
header nav {
  display: flex;
  justify-content: space-around;
}
/* navbar ka ander left-logo */
header nav .left-logo {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

header nav .left-logo h1,
p {
  color: #e50914;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

header nav .left-logo h1 {
  line-height: 50px;
  font-size: 50px;
}

/* center-navbar */
header nav .center-navbar {
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
}

header nav .center-navbar ul {
  display: flex;
  margin-top: 40px;
}

header nav .center-navbar ul li {
  list-style-type: none;
}
header nav .center-navbar ul li a {
  text-decoration: none;
  padding: 0 25px;
  color: white;

  transition: 0.4s;
}
header nav .center-navbar ul li a:hover {
  transition: 0.5s;
  color: #e50914;
  font-size: 1.3rem;
}

/* right button */
header nav .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .right-button .btn {
  cursor: pointer;
  margin: 1rem;
  padding: 5px 15px;
  font-weight: bolder;
  color: white;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
  transition: 0.4s;
}

header nav .right-button .btn:hover {
  background-color: #ff2e2e;
  transition: 0.5s;
}

/* container */
.container {
  color: white;
  background-color: #ded0d017;
  width: 50%;
  margin: 0 auto;
  margin-top: 300px;
  border: 3px solid blue;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 2rem;
}
.container h1 {
  margin-top: 20px;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
  font-size: 3.1rem;
}

.container form h2 {
  font-size: 20px;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.container form .form-group input {
  width: 500px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
  padding-left: 50px;
  padding: 5px;
  border-radius: 10px;
  background-color: #e50914;
  border: 10px solid #333333;
  outline: none;
  color: white;
}

.container form .btn {
  color: white;
  width: 50%;
  margin-bottom: 2rem;
  padding: 5px 10px;
  font-size: 2rem;
  font-family: "Baloo Bhai 2", sans-serif;
  font-weight: 800;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: rgb(20, 16, 16);
  transition: 0.5s;
}
.container form .btn:hover {
  transition: 0.4s;
  color: #e50914;
  background-color: #3333332f;
}
